
h1{
  color:black;
  font-size: 40px;
  position: relative;
  font-family: 'Times New Roman', monospace;
  text-align: center;
  border-color: lightblue;
  background-color: lightblue;
}

#OpenLogin{
height: 50px;
width: 100px;
border: 2mm;
position: relative;
}

#CreateAccount{
height: 50px;
width: 100px;
border: 2mm;
position: relative;
}





.sign-up{
position:left;
border: 30px;
background-color: lightblue;
}



#Login{
  text-align: center;
  border-radius: 30px;

  
}

#btnSubmit{
height: 50px;
width:80px;
}

#btnLoginForm{
  height: 50px;
  width:80px;
  }

#findMatchbtn{
  height: 50px;
  width:120px;
  }


  /*survey CSS*/


/*Display change properties */

.q1 {
  display: block;
}

.q2{
  display: none;
}

.q3{
  display: none;
}

.q4{
    display:none;
}

.q5{
    display:none;
}

.end {
  display: none;
}