

h1{
    color: rgb(252, 252, 252);
    font-size: 40px;
    font-family: 'Times New Roman', monospace;
    text-align: left;
}

.sign-up{
position:left;
border: 30px


}

#Login{
    text-align: center;

    
}

#btnSubmit{
height: 50px;
width:80px;
}

#btnLoginForm{
    height: 50px;
    width:80px;
    }

#findMatchbtn{
    height: 50px;
    width:120px;
    }

/*survey CSS*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Montserrat", sans-serif;
        text-align: left;
        background-color: lightgray;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    li {
        text-decoration: none;
        list-style: none;
    }
    
    header {
        background:black(0, 255, 128);
        color: rgb(61, 61, 61);
        padding: 10px;
    }
      header p {
          font-size: 16px;
      }
  
      .survey {
          width: 80%;
          margin: 20px auto;
          color: white;
          height: 200px;
          border-radius: 3px;
          box-shadow: 1px 1px 7px rgb(0, 0, 0, 0.4);
      }
      .survey h3 {
          margin: 8px;
          padding-top: 10px;
      }
      .survey li {
          margin:10px;
          cursor: pointer;
      }
  
      .survey li:hover {
          background: cornflowerblue;
          width: 250px;
          margin: 0 auto;
          padding: 4px;
          border-radius: 3px;
          transition: 0.3s ease;
      }
  .end {
      background: royalblue;
      color: white;
      width: 80%;
      margin: 35% auto;
      border-radius: 3px;
      box-shadow: 1px 1px 7px rgb(0, 0, 0, 0.4);
  }
  .end h1 {
      margin: 5px;
  }
  
  .end p {
      padding: 10px;
  }
  
  .end a {
      display: inline-block;
      margin-top: 10px;
      padding: 50px;
      border-radius: 4px;
      background: rgb(61, 61, 61);
  
      outline: none;
  }
  
  .end a:hover {
      box-shadow: 1px 1px 7px rgb(0, 0, 0, 0.404);
      transition: 0.3;
  }
  
    /*Display change properties */
  
    .q1 {
      display: block;
    }
  
    .q2{
      display: none;
    }
  
    .q3{
      display: none;
    }

    .q4{
        display:none;
    }

    .q5{
        display:none;
    }
  
    .end {
      display: none;
    }


    * {box-sizing: border-box}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }